.about {
    padding: 250px 27.5%;
    background: url('../assets/GraniteBackground.png');
    background-color: #F9F9F9;
    &__name {
        font-size: 24px;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}