.about {
    padding: 250px 28.5%;
    background: url('../assets/GraniteBackground.png');
    background-color: #F9F9F9;
    &__name {
        font-size: 24px;
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__description {
        line-height: 27px;
        font-size: 18px;
    }
}