.allies {
    padding: 80px 5.5%;
    text-align: center;
    background: url('../assets/GraniteBackground.png');
    &__title-small {
        margin-bottom: 10px;
    }
    &__title-big {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 80px;
    }
    &__why-us {
        display: flex;
        gap: 10%;
        align-items: center;
        justify-content: space-between;
        .text {
            text-align: start;
            .title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 35px;
            }
            .fact {
                display: flex;
                gap: 30px;
                margin-bottom: 15px;
                &--last {
                    margin-bottom: 35px;
                }
            }
            .button {
                display: flex;
                gap: 12px;
                padding: 16px 32px;
                border-radius: 2px;
                font-weight: 400;
                align-items: center;
                color: var(--button-white);
                background-color: var(--button-black);
            }
        }
    }
}