.allies {
    position: relative;
    padding: 165px 5.5% 90px;
    text-align: center;
    &::before {
        z-index: 0;
    }
    &__title-small {
        margin-bottom: 10px;
    }
    &__title-big {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 300px;
    }
    &-swiper {
        position: absolute !important;
        bottom: 150px !important;
        left: 0 !important;
        height: 100px !important;
        width: 100% !important;
        margin-bottom: 80px;
        .swiper-slide {
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            #bauxilum {
                height: 140px;
                width: 200px;
            }
            #alcasa {
                width: 160px;
            }
            #cvg {
                height: 80px;
                width: unset;
            }
            #ferrominera {
                height: unset;
                width: 24%;
            }
            #venalum {
                width: unset;
            }
            .pdvsa {
                width: 70%;
                height: 90px;
                margin: 0 20px;
            }
        }
    }
    &__why-us {
        display: flex;
        gap: 5%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 200px;
        .text {
            text-align: start;
            .title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 55px;
            }
            .fact {
                display: flex;
                gap: 30px;
                font-size: 18px;
                margin-bottom: 25px;
                font-weight: 500;
                &--last {
                    margin-bottom: 55px;
                }
            }
            .button {
                display: inline-flex;
                gap: 12px;
                padding: 16px 32px;
                border-radius: 2px;
                font-weight: 400;
                align-items: center;
                background-color: var(--button-black);
                cursor: pointer;
                color: var(--button-white);
                text-decoration: none;
                &:visited {
                    color: var(--button-white);
                }
                &:active {
                    background-color: #191A1A;
                }
            }
        }
    }
}

#allies > * {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 1000px) {
    .allies {
        &-swiper {
            .swiper-slide {
                img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                }
                #bauxilum {
                    width: 135px;
                    height: 100px;
                }
                #alcasa {
                    width: 120px;
                }
                #cvg {
                    height: 60px;
                    width: unset;
                }
                #ferrominera {
                    height: unset;
                    width: 35%;
                }
                .pdvsa {
                    width: 80%;
                    height: 65px;
                }
                #pdvsa-white {
                    height: 100px;
                    margin: 0 30px;
                }
            }
        }
        &__why-us {
            .text {
                .title {
                    margin-bottom: 30px;
                }
                font-size: 16px;
                .fact {
                    gap: 5px;
                    &--last {
                        margin-bottom: 30px;
                    }
                    .arrow {
                        width: 20px;
                        transform: translate(0, 2px);
                    }
                }
            }
            .image {
                width: 300px;
                height: 345px;
                object-fit: cover;
                object-position: left;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .allies {
        padding: 65px 5.5% 60px;
        &__title-small {
            text-align: start;
        }
        &__title-big {
            font-size: 26px;
            text-align: start;
            margin-bottom: 200px;
        }
        &-swiper {
            bottom: 40px !important;
            .swiper-slide {
                font-size: 18px;
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
                #bauxilum {
                    width: 120px;
                    height: 80px;
                }
                #alcasa {
                    width: 100px;
                }
                #cvg {
                    height: 50px;
                    width: unset;
                }
                #ferrominera {
                    height: unset;
                    width: 35%;
                }
                .pdvsa {
                    width: 80%;
                    height: 50px;
                }
                #pdvsa-white {
                    height: 80px;
                    margin: 0 30px;
                }
            }
        }
        &__why-us {
            flex-direction: column;
            gap: 40px;
            margin-bottom: 130px;
            .text {
                .fact {
                    gap: 12px;
                    font-size: 16px;
                    span {
                        min-width: 20px;
                    }
                }
            }
            .image {
                width: 100%;
                height: unset;
                object-fit: unset;
                object-position: unset;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .allies {
        &__title-small {
            font-size: 24px;
        }
        &__title-big {
            font-size: 48px;
        }
        &-swiper {
            .swiper-slide {
                #ferrominera {
                    width: 18%;
                }
            }
        }
        &__why-us {
            .text {
                .title {
                    font-size: 48px;
                }
                .fact {
                    font-size: 32px;
                }
                .button {
                    font-size: 28px;
                    .arrow {
                        width: 19px;
                        transform: translate(0, 3px);
                    }
                }
            }
            .image {
                width: 630px;
            }
        }
    }
}