.hero {
    position: relative;
    padding: 115px 5.55% 120px;
    background: url('../assets/GraniteBackground.png');
    &__title {
        font-size: 54px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 2px #1C1C1C;
        margin-bottom: 18px;
    }
    &__image {
        width: 100%;
    }
    &__main {
        display: flex;
        margin-bottom: 45px;
        .hero-swiper {
            margin-right: 2.22%;
            max-width: 560px;
            height: 340px;
            .swiper-slide {
                margin-right: 5%;
                flex-grow: 1;
                text-align: right;
                height: 285px;
                overflow-y: hidden;
            }
            .swiper-scrollbar {
                width: 50%;
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                top: unset;
                bottom: 0;
            }
            .swiper-button-prev {
                left: 75px;
            }
            .swiper-button-next {
                right: 75px;
            }
        }
        .description {
            position: relative;
            width: 100%;
            &__title {
                margin-bottom: 40px;
                font-family: sans-serif; 
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                #animated-text {
                    font-size: 54px;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out; 
                }
            }
            &__button {
                position: absolute;
                bottom: 55px;
                display: flex;
                gap: 12px;
                padding: 16px 32px;
                border-radius: 2px;
                align-items: center;
                background-color: #303030;
                color: #F8F8F8;
                font-weight: 600;
                .arrow {
                    margin-top: -3px;
                }
            }
        }
    }
    &__facts {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 24px;
        .fact {
            min-width: 172px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__number {
                font-size: 54px;
            }
        }
    }
    &__learn-more {
        position: absolute;
        bottom: 120px;
        left: 5.55%;
        .relative-container {
            position: relative;
        }
        .text {
            animation: rotate 20s linear infinite;
            width: 80%;
            }
            @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        .arrow {
            position: absolute;
            top: 26%;
            left: 28%;
            transform: scale(0.8);
        }
    }
}