.nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px 5.55%;
    justify-content: space-between;
    gap: 35%;
    width: 100%;
    z-index: 2;
    transform: translateY(0);
    transition: backdrop-filter 0.3s ease, transform 0.3s ease;;
    .company-name {
        height: 24px;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-inline-start: 0;
        width: 53%;
    }
    li {
        font-size: 18px;
        padding: 24px 32px;
    }
}

.nav.scrolled {
    // background: url('../assets/GraniteBackground.png'); /* semi-transparent background */
    background-color: #F9FAF98C;
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: soft shadow for better contrast */
}

.nav.hidden {
    transform: translateY(-100%); /* Move navbar out of view */
}