.nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px 5.55%;
    justify-content: space-between;
    gap: 35%;
    width: 100%;
    z-index: 2;
    transform: translateY(0);
    transition: backdrop-filter 0.3s ease, transform 0.3s ease;
    .company-name {
        height: 24px;
    }
    .burger-menu {
        display: none;
    }
    .links-container {
        .close-container {
            display: none;
        }
        &__company-name {
            display: none;
        }
    }
    .links {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-inline-start: 0;
        width: 42%;
    }
    li {
        padding: 24px 0px;
        a {
            font-size: 18px;
            text-decoration: none;
            color: #303030;
        }
    }
}

.nav.scrolled {
    background-color: #F9FAF98C;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-hidden {
    transform: translateY(-100%);
}

@media only screen and (max-width: 480px) {
    .nav {
        padding: 12px 3.55% 0;
        .burger-menu {
            display: block;
        }
        .links-container {
            transform: translateX(100%);
            position: absolute;
            height: 90vh;
            top: 0;
            right: 0;
            width: 90%;
            background-color: #F9FAF9;
            display: flex;
            flex-direction: column;
            padding: 40px;
            align-items: flex-end;
            justify-content: flex-start;
            transition: transform 0.3s ease-in-out;
            .close-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 40px;
                height: 40px;
            }
            &__company-name {
                display: block;
            }
            .links {
                align-items: flex-end;
                flex-direction: column;
                margin-bottom: 30px;
            }
            li {
                padding: 20px 0;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .nav {
        .company-name {
            height: 20px;
        }
        li {
            a {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .nav {
        .company-name {
            height: 32px;
        }
        li {
            a {
                font-size: 24px;
            }
        }
    }
}