.services {
    height: 100vh;
    .services-swiper {
        height: 100vh;
    }
    .services-slide {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center;
        padding: 80px 5.55%;
        color: #F8F8F8;
        &--construction {
            background: url('../assets/Construction.webp');
        }
        &--procurement {
            background: url('../assets/Procurement.webp');
        }
        &--oil {
            background: url('../assets/OilMachine.webp')
        }
    }
    &__title {
        font-size: 24px;
        color: #797979;
        font-weight: 400;
    }
    &__service-name {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__service-description {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 25px;
    }
    &__button {
        display: inline-flex;
        padding: 18px 32px;
        border-radius: 2px;
        font-weight: 600;
        gap: 12px;
        cursor: pointer;
        text-decoration: none;
        color: var(--button-black);
        background-color: var(--button-white);
        &:visited {
            color: var(--button-black);
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: transparent;
        border: 2.5px solid #ECECECBF;
        top: unset;
        bottom: 100px;
        padding: 12px;
    }
    .swiper-button-prev {
        left: unset;
        right: 10%;
    }
    .swiper-button-next {
        right: 5.5%;
    }
}

.autoplay-progress {
    position: absolute;
    left: 5.55%;
    bottom: 80px;
    z-index: 10;
    width: 21%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    &--empty {
        svg {
            --progress: 1 !important;
            stroke: gray !important;
            width: 120%;
        }
    }
    .progress-text {
        position: absolute;
        bottom: 0;
        left: 5px;
        font-weight: 400;
        color: #535353;
    }
    .active {
        color: #C3C3C3;
    }
}

.progress-2 {
    left: 27%;
}

.progress-3 {
    left: 48.5%;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    stroke-width: 4px;
    stroke: #ffffff;
    fill: none;
    stroke-dashoffset: calc(300px * (1 - var(--progress)));
    stroke-dasharray: 300;
}

@media only screen and (max-width: 1000px) {
    .services {
        .swiper-button-prev {
            right: 15%;
        }
        .progress-text {
            font-size: 16px;
        }
    }
}

@media only screen and (min-width: 425px) {
    .services {
        .autoplay-progress svg {
            transform: translate(0, -5px);
        }
    }
}

@media only screen and (max-width: 480px) {
    .services {
        &__title {
            font-size: 16px;
        }
        &__service-name {
            font-size: 32px;
            margin-bottom: 16px;
        }
        &__service-description {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        .swiper-wrapper {
            position: relative;
        }
        .swiper-button-prev,
        .swiper-button-next {
            bottom: 40px;
        }
        .swiper-button-prev {
            right: 20%;
        }
        .autoplay-progress,
        .progress-2,
        .progress-3 {
            left: unset;
        }
        .autoplay-progress {
            width: 90%;
            margin-left: 3.55%;
            margin-right: 3.55%;
            bottom: 100px;
        }
    }
}


@media only screen and (max-width: 375px) {
    .services {
        .swiper-button-prev {
            right: 25%;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .services {
        &__button {
            font-size: 18px;
        }
    }
}