.services {
    .services-swiper {
        height: 860px;
    }
    .services-slide {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center;
        padding: 80px 5.55%;
        color: #F8F8F8;
        &--construction {
            background: url('../assets/Construccion.png');
        }
        &--procurement {
            background: url('../assets/Procurement.webp');
        }
    }
    &__title {
        font-size: 24px;
        color: #797979;
        font-weight: 400;
    }
    &__service-name {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__service-description {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 25px;
    }
    &__button {
        padding: 18px 32px;
        border-radius: 2px;
        font-weight: 600;
        display: flex;
        gap: 12px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: transparent;
        border: 2.5px solid #ECECECBF;
        top: unset;
        bottom: 140px;
        padding: 12px;
    }
    .swiper-button-prev {
        left: unset;
        right: 9.5%;
    }
    .swiper-button-next {
        right: 5.5%;
    }
}

.autoplay-progress {
    position: absolute;
    left: 5.55%;
    bottom: 120px;
    z-index: 10;
    width: 21%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    &--empty {
        svg {
            --progress: 1 !important;
            stroke: gray !important;
            width: 120%;
        }
    }
    .progress-text {
        position: absolute;
        bottom: 0;
        left: 5px;
        font-weight: 400;
        color: #535353;
    }
    .active {
        color: #C3C3C3;
    }
}

.progress-2 {
    left: 27%;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    stroke-width: 4px;
    stroke: #ffffff;
    fill: none;
    stroke-dashoffset: calc(300px * (1 - var(--progress)));
    stroke-dasharray: 300;
}