.nav {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 40px 5.55%;
  margin-bottom: 80px;
  justify-content: space-between;
  gap: 35%;
  width: 100%;
  z-index: 2;
  background: transparent;
  transform: translateY(0);
  transition: backdrop-filter 0.3s ease, transform 0.3s ease;
}
.nav .company-name {
  height: 24px;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0;
  width: 68%;
}
.nav li {
  font-size: 18px;
  padding: 17.5px 32px;
}

.nav.scrolled {
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: soft shadow for better contrast */
}

.nav.hidden {
  transform: translateY(-100%); /* Move navbar out of view */
}

.hero {
  position: relative;
  padding: 177px 5.55% 120px;
  background: url("../assets/GraniteBackground.png");
}
.hero__title {
  font-size: 64px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px #1C1C1C;
  margin-bottom: 32px;
}
.hero__main {
  display: flex;
  margin-bottom: 55px;
}
.hero__main .hero-swiper {
  margin-right: 2.22%;
  max-width: 560px;
}
.hero__main .hero-swiper .swiper-slide {
  margin-right: 5%;
  flex-grow: 1;
}
.hero__main .hero-swiper .swiper-scrollbar {
  width: 40%;
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-28%);
}
.hero__main .hero-swiper .swiper-button-prev,
.hero__main .hero-swiper .swiper-button-next {
  position: absolute;
  top: unset;
  bottom: 0;
}
.hero__main .hero-swiper .swiper-button-prev {
  left: 120px;
}
.hero__main .hero-swiper .swiper-button-next {
  right: 0;
}
.hero__main .description {
  position: relative;
  width: 100%;
}
.hero__main .description__title {
  margin-bottom: 40px;
  font-family: sans-serif;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.hero__main .description__title #animated-text {
  font-size: 64px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.hero__main .description__button {
  position: absolute;
  bottom: 120px;
  display: flex;
  gap: 12px;
  padding: 16px 32px;
  align-items: center;
  border: 3px solid #F13414;
  color: #F13414;
  font-weight: 600;
}
.hero__main .description__button .arrow {
  margin-top: -3px;
}
.hero__facts {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
}
.hero__facts .fact {
  min-width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__facts .fact__number {
  font-size: 64px;
}
.hero__learn-more {
  position: absolute;
  bottom: 120px;
  left: 5.55%;
}
.hero__learn-more .relative-container {
  position: relative;
}
.hero__learn-more .text {
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero__learn-more .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.services .services-swiper {
  height: 700px;
}
.services .services-slide {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  padding: 80px 5.55%;
  color: #F8F8F8;
}
.services .services-slide--construction {
  background: url("../assets/Construction.webp");
}
.services .services-slide--procurement {
  background: url("../assets/Procurement.webp");
}
.services .services-slide--oil {
  background: url("../assets/Oil1.webp");
}
.services__title {
  font-size: 24px;
  color: #797979;
  font-weight: 400;
}
.services__service-name {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 25px;
}
.services__service-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 25px;
}
.services__button {
  padding: 18px 32px;
  border-radius: 2px;
  font-weight: 600;
  display: flex;
  gap: 12px;
}
.services .swiper-button-prev,
.services .swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  border: 2.5px solid rgba(236, 236, 236, 0.7490196078);
  top: unset;
  bottom: 100px;
  padding: 12px;
}
.services .swiper-button-prev {
  left: unset;
  right: 10%;
}
.services .swiper-button-next {
  right: 5.5%;
}

.autoplay-progress {
  position: absolute;
  left: 5.55%;
  bottom: 80px;
  z-index: 10;
  width: 21%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.autoplay-progress--empty svg {
  --progress: 1 !important;
  stroke: gray !important;
  width: 120%;
}
.autoplay-progress .progress-text {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-weight: 400;
  color: #535353;
}
.autoplay-progress .active {
  color: #C3C3C3;
}

.progress-2 {
  left: 27%;
}

.progress-3 {
  left: 48.5%;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  stroke-width: 4px;
  stroke: #ffffff;
  fill: none;
  stroke-dashoffset: calc(300px * (1 - var(--progress)));
  stroke-dasharray: 300;
}

.about {
  padding: 250px 0;
  width: 45%;
  margin: 0 auto;
}
.about__name {
  font-size: 24px;
  margin-bottom: 20px;
}
.about__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "New Science", Tahoma, Verdana;
}

.swiper {
  width: 100%;
  height: 420px;
}

@font-face {
  font-family: "New Science";
  src: url("../fonts/New_Science_Light.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "New Science";
  src: url("../fonts/New_Science_Medium.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "New Science";
  src: url("../fonts/New_Science_Bold.otf") format("opentype");
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
