.testimonies {
    padding: 150px 5.55%;
    text-align: center;
    background-color: #F9FAF9;
    &__title {
        font-size: 32px;
        margin-bottom: 80px;
        font-weight: 600;
        letter-spacing: 0;
    }
    &__testimonies-container {
        display: flex;
        gap: 2%;
        justify-content: space-between;
        .single-testimony {
            width: 400px;
            font-weight: 400;
            text-align: start;
            line-height: 27px;
            .quotes {
                transform: translate(7.5px, 0);
                margin-bottom: 15px;
            }
            .testimony {
                font-size: 18px;
                letter-spacing: 0;
                margin-bottom: 25px;
                strong {
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0;
                }
            }
            .person-name {
                letter-spacing: 0;
                font-size: 18px;
            }
            .company-name {
                font-weight: 600;
                letter-spacing: 0;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .testimonies {
        &__testimonies-container {
            gap: 5%;
            font-size: 16px;
            .single-testimony {
                .testimony {
                    strong {
                        font-size: 16px;
                    }
                }
            }
            .person-name {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .testimonies {
        padding: 56px 4%;
        &__title {
            font-size: 24px;
            margin-bottom: 40px;
        }
        &__testimonies-container {
            flex-direction: column;
            gap: 50px;
            .single-testimony {
                width: unset;
                .quotes {
                    width: 24px;
                }
                .testimony {
                    margin-bottom: 18px;
                }
                .person-name,
                .company-name,
                .testimony {
                    font-size: 16px;
                }
            }
        }
    }
}