.working-with-us {
    position: relative;
    height: 100vh;
    background: url('../assets/BrownGraniteBackground.png');
    background-color: #532501;
    padding: 125px 5.55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    &__text-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        .text {
            font-size: 56px;
            font-weight: 600;
            color: #E5E6E6;
            &--outlined {
                color: transparent;
                -webkit-text-stroke: 1px #CBCDCD;
                text-stroke: 1px #CBCDCD;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .working-with-us {
        height: unset;
        padding: 100px 5.5%;
        .text {
            font-size: 35px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .working-with-us {
        gap: 15px;
        padding: 65px 5.5%;
        &__text-container {
            flex-wrap: wrap;
            &--1 {
                flex-wrap: wrap-reverse;
            }
            &--2 {
                display: block;
                max-width: 75%;
                line-height: 38px;
            }
            &--3 {
                display: grid;
                grid-template-columns: 215px 1fr;
                row-gap: 10px;
                .text:nth-child(3) {
                    grid-column: span 2;
                }
            }
            &--4 {
                gap: 12px;
            }
            gap: 5px;
            .text {
                font-size: 28px;
                &--outlined {
                    line-height: 40px;
                }
            }
            .image {
                width: 32px;
                height: 32px;
                &--checkbox {
                    margin-left: 7px;
                }
            }
            #trend-icon {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .working-with-us {
        &__text-container {
            .text {
                font-size: 26px;
            }
            &--3 {
                grid-template-columns: 205px 1fr;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .working-with-us {
        gap: 72px;
        &__text-container {
            .text {
                font-size: 100px;
            }
            .image {
                width: 90px;
            }
        }
    }
}